<web-slide-title>
  <h1>Web Components</h1>
  <p>[wɛb kəmˈpəʊnənt]</p>
  <p>
    1: A set of standards currently being produced by the W3C that allow for the creation of reusable widgets or components in web documents and web applications.
  </p>
</web-slide-title>

<web-slide class="quote">
  <h2>Allow Angular components to be packaged as WebComponents and be used in other frameworks or in vanilla JavaScript</h2>
  <p>Misko Hevery, Angular 2.0 Draft Document</p>
</web-slide>

<web-slide id="badge">
  <zuehlke-badge fullname="Christian Kohler" photo="images/me.jpg"></zuehlke-badge>
</web-slide>

<web-slide>
  <h1>Let's go back to 1990</h1>
  <h2>Photoshop 1.0 Presentation</h2>
  <div>
    <img src="images/photoshop1.png" alt="" style="width: 49%;">
    <img src="images/photoshop2.png" alt="" style="width: 49%;">
  </div>
</web-slide>

<web-slide>
  <h1>Let's go back to 1990</h1>
  <h2>First Web Page</h2>
  <img src="images/firstwebpage.png" alt="">
</web-slide>

<web-slide-title>
  <h1>HTML Elements</h1>
  <h2>The building blocks of the web</h2>
</web-slide-title>

<web-slide>
  <h1>HTML Elements are..</h1>
  <div class="row">
    <div class="col-xs-3">
      <div class="box">
        <h3>Encapsulated</h3>
        <select size="6" style="width: 100%;">
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
      </div>
    </div>
    <div class="col-xs-3 col-xs-offset-1">
      <div class="box">
        <h3>Configurable</h3>
        <img src="images/configurable.png" alt="">
      </div>
    </div>
    <div class="col-xs-3 col-xs-offset-1">
      <div class="box">
        <h3>Programmable</h3>
        <img src="images/programmable.png" alt="">
      </div>
    </div>
  </div>
</web-slide>

<web-slide>
  <h1>HTML 1.0 <small>1990</small></h1>
  <div class="elementcount">18&nbsp; <small>elements</small></div>
  <div class="tagcloud">
    <span>a</span><span>address</span><span>dd</span><span>dl</span>
    <span>dt</span><span>h1</span><span>h2</span><span>h3</span>
    <span>h4</span><span>h5</span><span>h6</span><span>isindex</span>
    <span>li</span><span>listing</span>
    <span>p</span><span>plaintext</span>
    <span>title</span><span>ul</span>
  </div>
</web-slide>

<web-slide>
  <h1>HTML 2.0 <small>1995</small></h1>
  <div class="elementcount">49&nbsp; <small>elements</small></div>
  <div class="tagcloud">
    <span>a</span><span>address</span><span>b</span><span>base</span>
    <span>blockquote</span><span>body</span><span>br</span><span>cite</span>
    <span>code</span><span>dd</span><span>dir</span><span>dl</span>
    <span>dt</span><span>em</span><span>form</span><span>h1</span>
    <span>h2</span><span>h3</span><span>h4</span><span>h5</span>
    <span>h6</span><span>head</span><span>hr</span><span>html</span>
    <span>i</span><span>img</span><span>input</span><span>isindex</span>
    <span>kbd</span><span>li</span><span>link</span><span>listing</span>
    <span>menu</span><span>meta</span><span>nextid</span><span>ol</span>
    <span>option</span><span>p</span><span>plaintext</span><span>pre</span>
    <span>samp</span><span>select</span><span>strong</span><span>textarea</span>
    <span>title</span><span>tt</span><span>ul</span><span>var</span><span>xmp</span>
  </div>
</web-slide>

<web-slide>
  <h1>HTML 3.2 <small>1997</small></h1>
  <div class="elementcount">70&nbsp; <small>elements</small></div>
  <div class="tagcloud">
    <span>a</span><span>address</span><span>applet</span><span>area</span>
    <span>b</span><span>base</span><span>basefont</span><span>big</span>
    <span>blockquote</span><span>body</span><span>br</span><span>caption</span>
    <span>center</span><span>cite</span><span>code</span><span>dd</span>
    <span>dfn</span><span>dir</span><span>div</span><span>dl</span><span>dt</span>
    <span>em</span><span>font</span><span>form</span><span>h1</span><span>h2</span>
    <span>h3</span><span>h4</span><span>h5</span><span>h6</span><span>head</span>
    <span>hr</span><span>html</span><span>i</span><span>img</span><span>input</span>
    <span>isindex</span><span>kbd</span><span>li</span><span>link</span>
    <span>listing</span><span>map</span><span>menu</span><span>meta</span>
    <span>ol</span><span>option</span><span>p</span><span>param</span>
    <span>plaintext</span><span>pre</span><span>samp</span><span>script</span>
    <span>select</span><span>small</span><span>strike</span><span>strong</span>
    <span>style</span><span>sub</span><span>sup</span><span>table</span>
    <span>td</span><span>textarea</span><span>th</span><span>title</span>
    <span>tr</span><span>tt</span><span>u</span><span>ul</span><span>var</span>
    <span>xmp</span>
  </div>
</web-slide>

<web-slide>
  <h1>HTML 4.0 <small>1997 - 1999</small></h1>
  <div class="elementcount">91&nbsp; <small>elements</small></div>
  <div class="tagcloud">
    <span>a</span><span>abbr</span><span>acronym</span><span>address</span>
    <span>applet</span><span>area</span><span>b</span><span>base</span>
    <span>basefont</span><span>bdo</span><span>big</span><span>blockquote</span>
    <span>body</span><span>br</span><span>button</span><span>caption</span>
    <span>center</span><span>cite</span><span>code</span><span>col</span>
    <span>colgroup</span><span>dd</span><span>del</span><span>dfn</span>
    <span>dir</span><span>div</span><span>dl</span><span>dt</span><span>em</span>
    <span>fieldset</span><span>font</span><span>form</span><span>frame</span>
    <span>frameset</span><span>h1</span><span>h2</span><span>h3</span>
    <span>h4</span><span>h5</span><span>h6</span><span>head</span>
    <span>hr</span><span>html</span><span>i</span><span>iframe</span>
    <span>img</span><span>input</span><span>ins</span><span>isindex</span>
    <span>kbd</span><span>label</span><span>legend</span><span>li</span>
    <span>link</span><span>map</span><span>menu</span><span>meta</span>
    <span>noframes</span><span>noscript</span><span>object</span><span>ol</span>
    <span>optgroup</span><span>option</span><span>p</span><span>param</span>
    <span>pre</span><span>q</span><span>s</span><span>samp</span>
    <span>script</span><span>select</span><span>small</span><span>span</span>
    <span>strike</span><span>strong</span><span>style</span><span>sub</span>
    <span>sup</span><span>table</span><span>tbody</span><span>td</span>
    <span>textarea</span><span>tfoot</span><span>th</span><span>thead</span>
    <span>title</span><span>tr</span><span>tt</span><span>u</span>
    <span>ul</span><span>var</span>
  </div>
</web-slide>

<web-slide>
  <h1>HTML 5 <small>2014 almost done</small></h1>
  <div class="elementcount">112 <small>elements</small></div>
  <div class="tagcloud">
    <span>a</span><span>abbr</span><span>address</span><span>area</span>
    <span>article</span><span>aside</span><span>audio</span><span>b</span>
    <span>base</span><span>bdi</span><span>bdo</span><span>blockquote</span>
    <span>body</span><span>br</span><span>button</span><span>canvas</span>
    <span>caption</span><span>cite</span><span>code</span><span>col</span>
    <span>colgroup</span><span>data</span><span>datalist</span><span>dd</span>
    <span>del</span><span>details</span><span>dfn</span><span>dialog</span>
    <span>div</span><span>dl</span><span>dt</span><span>em</span>
    <span>embed</span><span>fieldset</span><span>figcaption</span>
    <span>figure</span><span>footer</span><span>form</span><span>h1</span>
    <span>h2</span><span>h3</span><span>h4</span><span>h5</span><span>h6</span>
    <span>head</span><span>header</span><span>hgroup</span><span>hr</span>
    <span>html</span><span>i</span><span>iframe</span><span>img</span>
    <span>input</span><span>ins</span><span>kbd</span><span>keygen</span>
    <span>label</span><span>legend</span><span>li</span><span>link</span>
    <span>main</span><span>map</span><span>mark</span><span>menu</span>
    <span>menuitem</span><span>meta</span><span>meter</span><span>nav</span>
    <span>noscript</span><span>object</span><span>ol</span><span>optgroup</span>
    <span>option</span><span>output</span><span>p</span><span>param</span>
    <span>pre</span><span>progress</span><span>q</span><span>rp</span>
    <span>rt</span><span>ruby</span><span>s</span><span>samp</span>
    <span>script</span><span>section</span><span>select</span><span>small</span>
    <span>source</span><span>span</span><span>strong</span><span>style</span>
    <span>sub</span><span>summary</span><span>sup</span><span>table</span>
    <span>tbody</span><span>td</span><span>template</span><span>textarea</span>
    <span>tfoot</span><span>th</span><span>thead</span><span>time</span>
    <span>title</span><span>tr</span><span>track</span><span>u</span>
    <span>ul</span><span>var</span><span>video</span><span>wbr</span>
  </div>
</web-slide>

<web-slide class="quote">
  <h1>Hello HTML5</h1>
</web-slide>

<web-slide>
  <div class="centerdiv centertext">
    <h1>A total of</h1>
    <div class="elementcount-huge">170</div>
    <h1>elements</h1>
  </div>
</web-slide>


<web-slide class="quote">
  <h1>Tabs?</h1>
</web-slide>


<web-slide>
  <h1>3rd party libraries</h1>
  <div class="centerdiv centertext">
    <div class="row around-xs">
      <div class="col-xs-2"><img src="images/angular.png" alt=""></div>
      <div class="col-xs-2"><img src="images/ember.png" alt=""></div>
    </div>
    <div class="row around-xs">
      <div class="col-xs-2"><img src="images/kendo.png" alt=""></div>
      <div class="col-xs-2"><img src="images/bootstrap.png" alt=""></div>
      <div class="col-xs-2"><img src="images/jquery.png" alt=""></div>
    </div>
  </div>
</web-slide>

<web-slide>
  <div class="row around-xs">
    <div class="col-xs-2"><img src="images/bootstrap.png" alt=""></div>
  </div>
  <img src="images/splitbutton.png" alt="">
</web-slide>

<web-slide id="lego">

</web-slide>

<web-slide>
  <h1>What it is is a mess</h1>
  <h2>Example: Gmail</h2>
  <div>
    <img src="images/gmail.png" alt="">
  </div>
</web-slide>


<web-slide>
  <h1>3rd Party Libraries</h1>
  <h2>All or nothing</h2>
  <ul>
    <li>Mixing libraries is fragil</li>
    <li>Dependencies (e.g. jQuery)</li>
    <li>API is different in every library</li>
  </ul>
</web-slide>

<web-slide-title>
  <h1>Webcomponents</h1>
  <h2>create your own html elements</h2>
  <div class="row">
    <div class="col-xs-4">
      <img src="images/webcomponents.png" alt="">
    </div>
  </div>
</web-slide-title>

<web-slide class="quote">
  <h1>WebComponents is not a single standard but rather an umbrella standard for..</h1>
</web-slide>

<web-slide id="fourparts">
  <div class="row centerdiv">
    <div class="col-xs-6">
      <h2><img src="images/icon-customelements.png" alt="">Custom Elements</h2>
      <p>Define and use new types of DOM elements</p>
    </div>
    <div class="col-xs-6">
      <h2><img src="images/icon-htmlimports.png" alt="">HTML Imports</h2>
      <p>Reuse HTML documents in other HTML documents</p>
    </div>
    <div class="col-xs-6">
      <h2><img src="images/icon-templates.png" alt="">Templates</h2>
      <p>Declare fragments of DOM to be instantiated at runtime</p>
    </div>
    <div class="col-xs-6">
      <h2><img src="images/icon-shadowdom.png" alt="">Shadow DOM</h2>
      <p>DOM and CSS encapsulation for element</p>
    </div>
  </div>
</web-slide>



<web-slide class="quote">
  <h1>Demo</h1>
</web-slide>

<web-slide-title>
  <h1>Browser Support</h1>
</web-slide-title>
<web-slide>
  <img src="images/support.png" alt="">
</web-slide>

<web-slide>
  <h1>webcomponents.js</h1>
  <h2>Adds polyfill for Safari and IE11+</h2>
  <img src="images/polyfill.png" alt="">
</web-slide>

<web-slide>
  <div class="row around-xs centerdiv">
    <div class="col-sm-4">
      <h2>Polymer <small>by Google</small></h2>
      <img src="images/p-logo.svg" alt="">
    </div>
    <div class="col-sm-4">
      <h2>Brick <small>by Mozilla</small></h2>
      <img src="images/logobrick.svg" alt="">
    </div>
  </div>
</web-slide>

<web-slide>
  <h1>Polymer <small>by Google</small></h1>
  <h2>Data binding and declarative definition</h2>
  <img src="images/polymer-example.png" alt="">
</web-slide>

<web-slide>
  <h1>Polymer <small>by Google</small></h1>
  <h2>Material Design</h2>
  <img src="images/material.png" alt="">
</web-slide>

<web-slide-title>
  <h1>Examples</h1>
  <h2>Polymer, Bricks and more</h2>
</web-slide-title>

<web-slide>
  <h1>Polymer <small>by Google</small></h1>
  <h2>Maps</h2>
  <img src="images/example-gmaps.png" alt="" style="width: initial;">
  <iframe webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" src="https://googlewebcomponents.github.io/google-map/components/google-map/demo.html"></iframe>
</web-slide>

<web-slide>
  <h1>Polymer <small>by Google</small></h1>
  <h2>Tabs</h2>
  <img src="images/example-papertabs.png" alt="">
  <paper-tabs selected="0">
    <paper-tab>TAB 1</paper-tab>
    <paper-tab>TAB 2</paper-tab>
    <paper-tab>TAB 3</paper-tab>
  </paper-tabs>
</web-slide>

<web-slide>
  <h1>Brick <small>by Mozilla</small></h1>
  <h2>Tabs</h2>
  <img src="images/example-brickstabs.png" alt="">
  <brick-tabbar id="demo-bar">
      <brick-tabbar-tab target="a" selected="">
        Camera
      </brick-tabbar-tab>
      <brick-tabbar-tab target="b">
        Messages
      </brick-tabbar-tab>
      <brick-tabbar-tab target="c">
        Home
      </brick-tabbar-tab>
    </brick-tabbar>
</web-slide>

<web-slide>
  <h1>Brick <small>by Mozilla</small></h1>
  <h2>Calendar</h2>
  <img src="images/example-brickcal.png" alt="">
  <brick-calendar></brick-calendar>
</web-slide>

<web-slide>
  <h1>GitHub</h1>
  <h2>Time Element</h2>
  <img src="images/example-github.png" alt="">
  <img src="images/github.jpg" alt="">
</web-slide>

<web-slide class="quote">
  <h2>Luckily the Custom Elements polyfill goes back to IE 9 which is the oldest browser we support.</h2>
  <p>Joshua Peek, programmer at GitHub</p>
</web-slide>

<web-slide-title>
  <h1>by the way</h1>
</web-slide-title>

<web-slide>
  <h1>web-presentation <small>by Christian Kohler</small></h1>
  <img src="images/web-presentation.png" alt="">
</web-slide>

<web-slide class="quote">
  <h1>Merci Beaucoup</h1>
</web-slide>

<web-slide>
  <h1>Links</h1>
  <h3>Angular 2.0</h3>
  <a href="https://docs.google.com/document/d/1L-9bBL-smMrAmxC_pVBdKWKcB-ZlOLTj-jmzAJ2jKeE/edit#heading=h.xgjl2srtytjt">https://docs.google.com/document/d/1L-9bBL-smMrAmxC_pVBdKWKcB-ZlOLTj-jmzAJ2jKeE/edit#heading=h.xgjl2srtytjt</a>
  <h3>Customelements.io</h3>
  <a href="http://customelements.io">http://customelements.io</a>
  <h3>Polymer vs. x-tag</h3>
  <a href="http://pascalprecht.github.io/2014/07/21/polymer-vs-x-tag-here-is-the-difference/">http://pascalprecht.github.io/2014/07/21/polymer-vs-x-tag-here-is-the-difference/</a>
  <h3>Polymer</h3>
  <a href="https://www.polymer-project.org/">https://www.polymer-project.org/</a>
  <h3>Brick</h3>
  <a href="http://mozbrick.github.io/index.html">http://mozbrick.github.io/index.html</a>
</web-slide>
