<web-slide-title>
  <h1>Web Components</h1>
  <p>[wɛb kəmˈpəʊnənt]</p>
  <p>
    1: A set of standards currently being produced by the W3C that allow for the creation of reusable widgets or components in web documents and web applications.
  </p>
</web-slide-title>

<web-slide class="quote">
  <h2>Allow Angular components to be packaged as WebComponents and be used in other frameworks or in vanilla JavaScript</h2>
  <p>Misko Hevery, Angular 2.0 Draft Document</p>
</web-slide>

<web-slide id="badge">
  <zuehlke-badge fullname="Christian Kohler" photo="images/me.jpg"></zuehlke-badge>
</web-slide>
