<web-slide>
  <h1>Let's go back to 1990</h1>
  <h2>Photoshop 1.0 Presentation</h2>
  <div>
    <img src="images/photoshop1.png" alt="" style="width: 49%;">
    <img src="images/photoshop2.png" alt="" style="width: 49%;">
  </div>
</web-slide>

<web-slide>
  <h1>Let's go back to 1990</h1>
  <h2>First Web Page</h2>
  <img src="images/firstwebpage.png" alt="">
</web-slide>
