<web-slide-title>
  <h1>Webcomponents</h1>
  <h2>create your own html elements</h2>
  <div class="row">
    <div class="col-xs-4">
      <img src="images/webcomponents.png" alt="">
    </div>
  </div>
</web-slide-title>

<web-slide class="quote">
  <h1>WebComponents is not a single standard but rather an umbrella standard for..</h1>
</web-slide>

<web-slide id="fourparts">
  <div class="row centerdiv">
    <div class="col-xs-6">
      <h2><img src="images/icon-customelements.png" alt="">Custom Elements</h2>
      <p>Define and use new types of DOM elements</p>
    </div>
    <div class="col-xs-6">
      <h2><img src="images/icon-htmlimports.png" alt="">HTML Imports</h2>
      <p>Reuse HTML documents in other HTML documents</p>
    </div>
    <div class="col-xs-6">
      <h2><img src="images/icon-templates.png" alt="">Templates</h2>
      <p>Declare fragments of DOM to be instantiated at runtime</p>
    </div>
    <div class="col-xs-6">
      <h2><img src="images/icon-shadowdom.png" alt="">Shadow DOM</h2>
      <p>DOM and CSS encapsulation for element</p>
    </div>
  </div>
</web-slide>



<web-slide class="quote">
  <h1>Demo</h1>
</web-slide>
