<web-slide-title>
  <h1>HTML Elements</h1>
  <h2>The building blocks of the web</h2>
</web-slide-title>

<web-slide>
  <h1>HTML Elements are..</h1>
  <div class="row">
    <div class="col-xs-3">
      <div class="box">
        <h3>Encapsulated</h3>
        <select size="6" style="width: 100%;">
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
      </div>
    </div>
    <div class="col-xs-3 col-xs-offset-1">
      <div class="box">
        <h3>Configurable</h3>
        <img src="images/configurable.png" alt="">
      </div>
    </div>
    <div class="col-xs-3 col-xs-offset-1">
      <div class="box">
        <h3>Programmable</h3>
        <img src="images/programmable.png" alt="">
      </div>
    </div>
  </div>
</web-slide>

<web-slide>
  <h1>HTML 1.0 <small>1990</small></h1>
  <div class="elementcount">18&nbsp; <small>elements</small></div>
  <div class="tagcloud">
    <span>a</span><span>address</span><span>dd</span><span>dl</span>
    <span>dt</span><span>h1</span><span>h2</span><span>h3</span>
    <span>h4</span><span>h5</span><span>h6</span><span>isindex</span>
    <span>li</span><span>listing</span>
    <span>p</span><span>plaintext</span>
    <span>title</span><span>ul</span>
  </div>
</web-slide>

<web-slide>
  <h1>HTML 2.0 <small>1995</small></h1>
  <div class="elementcount">49&nbsp; <small>elements</small></div>
  <div class="tagcloud">
    <span>a</span><span>address</span><span>b</span><span>base</span>
    <span>blockquote</span><span>body</span><span>br</span><span>cite</span>
    <span>code</span><span>dd</span><span>dir</span><span>dl</span>
    <span>dt</span><span>em</span><span>form</span><span>h1</span>
    <span>h2</span><span>h3</span><span>h4</span><span>h5</span>
    <span>h6</span><span>head</span><span>hr</span><span>html</span>
    <span>i</span><span>img</span><span>input</span><span>isindex</span>
    <span>kbd</span><span>li</span><span>link</span><span>listing</span>
    <span>menu</span><span>meta</span><span>nextid</span><span>ol</span>
    <span>option</span><span>p</span><span>plaintext</span><span>pre</span>
    <span>samp</span><span>select</span><span>strong</span><span>textarea</span>
    <span>title</span><span>tt</span><span>ul</span><span>var</span><span>xmp</span>
  </div>
</web-slide>

<web-slide>
  <h1>HTML 3.2 <small>1997</small></h1>
  <div class="elementcount">70&nbsp; <small>elements</small></div>
  <div class="tagcloud">
    <span>a</span><span>address</span><span>applet</span><span>area</span>
    <span>b</span><span>base</span><span>basefont</span><span>big</span>
    <span>blockquote</span><span>body</span><span>br</span><span>caption</span>
    <span>center</span><span>cite</span><span>code</span><span>dd</span>
    <span>dfn</span><span>dir</span><span>div</span><span>dl</span><span>dt</span>
    <span>em</span><span>font</span><span>form</span><span>h1</span><span>h2</span>
    <span>h3</span><span>h4</span><span>h5</span><span>h6</span><span>head</span>
    <span>hr</span><span>html</span><span>i</span><span>img</span><span>input</span>
    <span>isindex</span><span>kbd</span><span>li</span><span>link</span>
    <span>listing</span><span>map</span><span>menu</span><span>meta</span>
    <span>ol</span><span>option</span><span>p</span><span>param</span>
    <span>plaintext</span><span>pre</span><span>samp</span><span>script</span>
    <span>select</span><span>small</span><span>strike</span><span>strong</span>
    <span>style</span><span>sub</span><span>sup</span><span>table</span>
    <span>td</span><span>textarea</span><span>th</span><span>title</span>
    <span>tr</span><span>tt</span><span>u</span><span>ul</span><span>var</span>
    <span>xmp</span>
  </div>
</web-slide>

<web-slide>
  <h1>HTML 4.0 <small>1997 - 1999</small></h1>
  <div class="elementcount">91&nbsp; <small>elements</small></div>
  <div class="tagcloud">
    <span>a</span><span>abbr</span><span>acronym</span><span>address</span>
    <span>applet</span><span>area</span><span>b</span><span>base</span>
    <span>basefont</span><span>bdo</span><span>big</span><span>blockquote</span>
    <span>body</span><span>br</span><span>button</span><span>caption</span>
    <span>center</span><span>cite</span><span>code</span><span>col</span>
    <span>colgroup</span><span>dd</span><span>del</span><span>dfn</span>
    <span>dir</span><span>div</span><span>dl</span><span>dt</span><span>em</span>
    <span>fieldset</span><span>font</span><span>form</span><span>frame</span>
    <span>frameset</span><span>h1</span><span>h2</span><span>h3</span>
    <span>h4</span><span>h5</span><span>h6</span><span>head</span>
    <span>hr</span><span>html</span><span>i</span><span>iframe</span>
    <span>img</span><span>input</span><span>ins</span><span>isindex</span>
    <span>kbd</span><span>label</span><span>legend</span><span>li</span>
    <span>link</span><span>map</span><span>menu</span><span>meta</span>
    <span>noframes</span><span>noscript</span><span>object</span><span>ol</span>
    <span>optgroup</span><span>option</span><span>p</span><span>param</span>
    <span>pre</span><span>q</span><span>s</span><span>samp</span>
    <span>script</span><span>select</span><span>small</span><span>span</span>
    <span>strike</span><span>strong</span><span>style</span><span>sub</span>
    <span>sup</span><span>table</span><span>tbody</span><span>td</span>
    <span>textarea</span><span>tfoot</span><span>th</span><span>thead</span>
    <span>title</span><span>tr</span><span>tt</span><span>u</span>
    <span>ul</span><span>var</span>
  </div>
</web-slide>

<web-slide>
  <h1>HTML 5 <small>2014 almost done</small></h1>
  <div class="elementcount">112 <small>elements</small></div>
  <div class="tagcloud">
    <span>a</span><span>abbr</span><span>address</span><span>area</span>
    <span>article</span><span>aside</span><span>audio</span><span>b</span>
    <span>base</span><span>bdi</span><span>bdo</span><span>blockquote</span>
    <span>body</span><span>br</span><span>button</span><span>canvas</span>
    <span>caption</span><span>cite</span><span>code</span><span>col</span>
    <span>colgroup</span><span>data</span><span>datalist</span><span>dd</span>
    <span>del</span><span>details</span><span>dfn</span><span>dialog</span>
    <span>div</span><span>dl</span><span>dt</span><span>em</span>
    <span>embed</span><span>fieldset</span><span>figcaption</span>
    <span>figure</span><span>footer</span><span>form</span><span>h1</span>
    <span>h2</span><span>h3</span><span>h4</span><span>h5</span><span>h6</span>
    <span>head</span><span>header</span><span>hgroup</span><span>hr</span>
    <span>html</span><span>i</span><span>iframe</span><span>img</span>
    <span>input</span><span>ins</span><span>kbd</span><span>keygen</span>
    <span>label</span><span>legend</span><span>li</span><span>link</span>
    <span>main</span><span>map</span><span>mark</span><span>menu</span>
    <span>menuitem</span><span>meta</span><span>meter</span><span>nav</span>
    <span>noscript</span><span>object</span><span>ol</span><span>optgroup</span>
    <span>option</span><span>output</span><span>p</span><span>param</span>
    <span>pre</span><span>progress</span><span>q</span><span>rp</span>
    <span>rt</span><span>ruby</span><span>s</span><span>samp</span>
    <span>script</span><span>section</span><span>select</span><span>small</span>
    <span>source</span><span>span</span><span>strong</span><span>style</span>
    <span>sub</span><span>summary</span><span>sup</span><span>table</span>
    <span>tbody</span><span>td</span><span>template</span><span>textarea</span>
    <span>tfoot</span><span>th</span><span>thead</span><span>time</span>
    <span>title</span><span>tr</span><span>track</span><span>u</span>
    <span>ul</span><span>var</span><span>video</span><span>wbr</span>
  </div>
</web-slide>

<web-slide class="quote">
  <h1>Hello HTML5</h1>
</web-slide>

<web-slide>
  <div class="centerdiv centertext">
    <h1>A total of</h1>
    <div class="elementcount-huge">170</div>
    <h1>elements</h1>
  </div>
</web-slide>


<web-slide class="quote">
  <h1>Tabs?</h1>
</web-slide>


<web-slide>
  <h1>3rd party libraries</h1>
  <div class="centerdiv centertext">
    <div class="row around-xs">
      <div class="col-xs-2"><img src="images/angular.png" alt=""></div>
      <div class="col-xs-2"><img src="images/ember.png" alt=""></div>
    </div>
    <div class="row around-xs">
      <div class="col-xs-2"><img src="images/kendo.png" alt=""></div>
      <div class="col-xs-2"><img src="images/bootstrap.png" alt=""></div>
      <div class="col-xs-2"><img src="images/jquery.png" alt=""></div>
    </div>
  </div>
</web-slide>

<web-slide>
  <div class="row around-xs">
    <div class="col-xs-2"><img src="images/bootstrap.png" alt=""></div>
  </div>
  <img src="images/splitbutton.png" alt="">
</web-slide>

<web-slide id="lego">

</web-slide>

<web-slide>
  <h1>What it is is a mess</h1>
  <h2>Example: Gmail</h2>
  <div>
    <img src="images/gmail.png" alt="">
  </div>
</web-slide>


<web-slide>
  <h1>3rd Party Libraries</h1>
  <h2>All or nothing</h2>
  <ul>
    <li>Mixing libraries is fragil</li>
    <li>Dependencies (e.g. jQuery)</li>
    <li>API is different in every library</li>
  </ul>
</web-slide>
