<web-slide-title>
  <h1>Browser Support</h1>
</web-slide-title>
<web-slide>
  <img src="images/support.png" alt="">
</web-slide>

<web-slide>
  <h1>webcomponents.js</h1>
  <h2>Adds polyfill for Safari and IE11+</h2>
  <img src="images/polyfill.png" alt="">
</web-slide>

<web-slide>
  <div class="row around-xs centerdiv">
    <div class="col-sm-4">
      <h2>Polymer <small>by Google</small></h2>
      <img src="images/p-logo.svg" alt="">
    </div>
    <div class="col-sm-4">
      <h2>Brick <small>by Mozilla</small></h2>
      <img src="images/logobrick.svg" alt="">
    </div>
  </div>
</web-slide>

<web-slide>
  <h1>Polymer <small>by Google</small></h1>
  <h2>Data binding and declarative definition</h2>
  <img src="images/polymer-example.png" alt="">
</web-slide>

<web-slide>
  <h1>Polymer <small>by Google</small></h1>
  <h2>Material Design</h2>
  <img src="images/material.png" alt="">
</web-slide>

<web-slide-title>
  <h1>Examples</h1>
  <h2>Polymer, Bricks and more</h2>
</web-slide-title>

<web-slide>
  <h1>Polymer <small>by Google</small></h1>
  <h2>Maps</h2>
  <img src="images/example-gmaps.png" alt="" style="width: initial;">
  <iframe webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" src="https://googlewebcomponents.github.io/google-map/components/google-map/demo.html"></iframe>
</web-slide>

<web-slide>
  <h1>Polymer <small>by Google</small></h1>
  <h2>Tabs</h2>
  <img src="images/example-papertabs.png" alt="">
  <paper-tabs selected="0">
    <paper-tab>TAB 1</paper-tab>
    <paper-tab>TAB 2</paper-tab>
    <paper-tab>TAB 3</paper-tab>
  </paper-tabs>
</web-slide>

<web-slide>
  <h1>Brick <small>by Mozilla</small></h1>
  <h2>Tabs</h2>
  <img src="images/example-brickstabs.png" alt="">
  <brick-tabbar id="demo-bar">
      <brick-tabbar-tab target="a" selected="">
        Camera
      </brick-tabbar-tab>
      <brick-tabbar-tab target="b">
        Messages
      </brick-tabbar-tab>
      <brick-tabbar-tab target="c">
        Home
      </brick-tabbar-tab>
    </brick-tabbar>
</web-slide>

<web-slide>
  <h1>Brick <small>by Mozilla</small></h1>
  <h2>Calendar</h2>
  <img src="images/example-brickcal.png" alt="">
  <brick-calendar></brick-calendar>
</web-slide>

<web-slide>
  <h1>GitHub</h1>
  <h2>Time Element</h2>
  <img src="images/example-github.png" alt="">
  <img src="images/github.jpg" alt="">
</web-slide>

<web-slide class="quote">
  <h2>Luckily the Custom Elements polyfill goes back to IE 9 which is the oldest browser we support.</h2>
  <p>Joshua Peek, programmer at GitHub</p>
</web-slide>
