<web-slide-title>
  <h1>by the way</h1>
</web-slide-title>

<web-slide>
  <h1>web-presentation <small>by Christian Kohler</small></h1>
  <img src="images/web-presentation.png" alt="">
</web-slide>

<web-slide class="quote">
  <h1>Merci Beaucoup</h1>
</web-slide>

<web-slide>
  <h1>Links</h1>
  <h3>Angular 2.0</h3>
  <a href="https://docs.google.com/document/d/1L-9bBL-smMrAmxC_pVBdKWKcB-ZlOLTj-jmzAJ2jKeE/edit#heading=h.xgjl2srtytjt">https://docs.google.com/document/d/1L-9bBL-smMrAmxC_pVBdKWKcB-ZlOLTj-jmzAJ2jKeE/edit#heading=h.xgjl2srtytjt</a>
  <h3>Customelements.io</h3>
  <a href="http://customelements.io">http://customelements.io</a>
  <h3>Polymer vs. x-tag</h3>
  <a href="http://pascalprecht.github.io/2014/07/21/polymer-vs-x-tag-here-is-the-difference/">http://pascalprecht.github.io/2014/07/21/polymer-vs-x-tag-here-is-the-difference/</a>
  <h3>Polymer</h3>
  <a href="https://www.polymer-project.org/">https://www.polymer-project.org/</a>
  <h3>Brick</h3>
  <a href="http://mozbrick.github.io/index.html">http://mozbrick.github.io/index.html</a>
</web-slide>
