web-slide-title {
  font-family: 'Roboto Condensed', sans-serif;
}
web-slide-title h2 {
  margin: 0;
}
web-slide-title::shadow div#content,
web-slide:not(.quote)::shadow div#content {
  box-sizing: border-box;
  justify-content: initial;
  align-items: initial;
  text-align: initial;
  padding: 20px;
}
.centerdiv { margin: auto; }
.centertext { text-align:center; }
iframe {
	border: none;
	height: 300px;
}
small {
  font-size: 0.5em;
}

div.elementcount {
  font-size: 5em;
}
div.elementcount-huge {
  font-size: 12em;
}
div.tagcloud > span {
  background: #03A9F4;
  color: #FFF;
  font-size: 0.8em;
  padding: 0 0.5em;
  margin: 1em;
  border-radius: 0.5em;
}
web-slide { }
web-slide img { max-width: 100%; }
web-slide.quote { background: #333; color: #EEE; }
web-slide.quote h1, web-slide.quote h2 { padding: 20px; }

/*  Slide0 */
web-slide-title:first-of-type {
  background: #f9f9f9;
  color: #333;
}

web-slide-title:first-of-type p {
  font-family: 'Linden Hill', serif;
  color: #666;
}
web-slide-title:first-of-type h1 {
  margin: 1em 0 0 0;
}

/* Slide1 */
web-slide#badge { background: #f9f9f9; }
web-slide#badge zuehlke-badge { margin: auto; }
web-slide#badge::shadow div#content { text-align: center; }

web-slide#fourparts img {
  height: 1em;
  padding-right: 0.5em;
}
web-slide#fourparts h2 {
  margin: 2em 0 0 0 ;
}
web-slide#lego {
  background: url('http://christianheilmann.com/wp-content/uploads/2013/09/what.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

/* ------------------------ Animations ------------------------------------- */
web-slide-title.forward-out {
  -webkit-animation: moveToLeft .7s ease-in-out both;
	animation: moveToLeft .7s ease-in-out both;
}
web-slide-title +.forward-in {
  -webkit-animation: moveFromRight .7s ease both;
  animation: moveFromRight .7s ease both;
}

web-slide:nth-of-type(2).forward-out {
  -webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-animation: rotateOutNewspaper .5s both ease-in;
	animation: rotateOutNewspaper .5s both ease-in;
}
web-slide:nth-of-type(2) +.forward-in {
  -webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-animation: rotateInNewspaper .5s both ease-out;
	animation: rotateInNewspaper .5s both ease-out;
}

web-slide#lego.forward-out {
  -webkit-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
	-webkit-animation: rotateFall 1s both ease-in;
	animation: rotateFall 1s both ease-in;
}

@-webkit-keyframes moveToLeft {
	from { }
	to { -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeft {
	from { }
	to { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveFromLeft {
	from { -webkit-transform: translateX(-100%); }
}
@keyframes moveFromLeft {
	from { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveToRight {
	from { }
	to { -webkit-transform: translateX(100%); }
}
@keyframes moveToRight {
	from { }
	to { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

@-webkit-keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); }
}
@keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); transform: translateX(100%); }
}


@-webkit-keyframes rotateOutNewspaper {
	from { }
	to { -webkit-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@keyframes rotateOutNewspaper {
	from { }
	to { -webkit-transform: translateZ(-3000px) rotateZ(360deg); transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

@-webkit-keyframes rotateInNewspaper {
	from { -webkit-transform: translateZ(-3000px) rotateZ(-360deg); opacity: 0; }
}
@keyframes rotateInNewspaper {
	from { -webkit-transform: translateZ(-3000px) rotateZ(-360deg); transform: translateZ(-3000px) rotateZ(-360deg); opacity: 0; }
}

@-webkit-keyframes rotateFall {
	0% { -webkit-transform: rotateZ(0deg); }
	20% { -webkit-transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; }
	40% { -webkit-transform: rotateZ(17deg); }
	60% { -webkit-transform: rotateZ(16deg); }
	100% { -webkit-transform: translateY(100%) rotateZ(17deg); }
}
@keyframes rotateFall {
	0% { -webkit-transform: rotateZ(0deg); transform: rotateZ(0deg); }
	20% { -webkit-transform: rotateZ(10deg); transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }
	40% { -webkit-transform: rotateZ(17deg); transform: rotateZ(17deg); }
	60% { -webkit-transform: rotateZ(16deg); transform: rotateZ(16deg); }
	100% { -webkit-transform: translateY(100%) rotateZ(17deg); transform: translateY(100%) rotateZ(17deg); }
}
