<template id="zuehlke-badge-template">
  <style>
    #card {
      background: #FFF;
      width: 200px;
      height: 300px;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 0 2px 2px #EEE;
      margin: auto;
    }
    #card-header {
      position: relative;
      background: #925A99;
      width: 100%;
      height: 40%;
    }
    #card-header img {
      position: absolute;
      top: 55px;
      left: 50%;
      margin-left: -60px;
      width: 120px;
      height: 120px;
      border-radius: 60px;
    }
    #card-header:before {
      content: "";
      width: 70px;
      height: 8px;
      background: #F9F9F9;
      position: absolute;
      left: 50%;
      top: 20px;
      margin-left: -35px;
      border-radius: 5px;
      box-shadow: inset 1px 1px 1px 1px #AAA;
    }
    #card-body {
      font-size: 0.6em;
      font-family: 'Helvetica Neue', sans-serif;
      color: #444;
      padding-top: 75px;
      text-align: center;
    }
    #card-body > div:nth-of-type(1) {
      font-size: 1.2em;
      color: #777;
    }
    #card-body > div:nth-of-type(2) {
      font-size: 2em;
      line-height: 2em;
      padding-bottom: 0.5em;
    }
    #card-footer {
      text-align: center;
    }
    #card-footer img {
      height: 35px;
    }
  </style>
  <div id="card">
    <div id="card-header">
      <img id="card-photo" src="" alt="">
    </div>
    <div id="card-body">
      <div>Hi, My name is</div>
      <div id="card-name">&nbsp;</div>
    </div>
    <div id="card-footer">
      <img src="images/zuehlke.jpg" alt="">
    </div>
  </div>
</template>

<script>
  (function() {
    var badgeProto = Object.create(HTMLElement.prototype);
    var importDoc = document.currentScript.ownerDocument;

    badgeProto.createdCallback = function() {
      var templateElement = importDoc.querySelector("#zuehlke-badge-template");
      var templateContent = document.importNode(templateElement.content, true);

      templateContent.querySelector("#card-photo").src = this.getAttribute("photo");
      templateContent.querySelector("#card-name").innerHTML = this.getAttribute("fullname");

      this.createShadowRoot().appendChild(templateContent);
    };

    document.registerElement('zuehlke-badge', {prototype: badgeProto});
  })();
</script>
